<div class="row" ng-controller="dodavanjeArtikla">

	<div class="col-lg-3">
		<h2 class="my-2">Dodavanje artikla</h2>
	</div>
	<div class="col-lg-9">
		<form>
			<div class="form-group">
				<label class="font-weight-bold">Naziv:</label> <input
					class="form-control" placeholder="Naziv" ng-model="artikal.naziv">
			</div>
			<div class="form-group">
				<label class="font-weight-bold">Opis:</label> <input
					class="form-control" placeholder="Opis" ng-model="artikal.opis">
			</div>
			<div class="form-group">
				<label class="font-weight-bold">Cena:</label> <input
					class="form-control" placeholder="Cena" ng-model="artikal.cena">
			</div>
			<div class="form-group">
				<label class="font-weight-bold">Url slike (opciono):</label> <input
					class="form-control" placeholder="Url slike"
					ng-model="artikal.imageUrl">
			</div>
			<div class="form-group">
				<label class="font-weight-bold">Popust (opciono):</label> <input
					class="form-control" placeholder="Popust" ng-model="artikal.popust">
			</div>
			<div class="form-group">
				<label class="font-weight-bold">Kategorija:</label> <select
					class="form-control" ng-model="artikal.kategorijaId">
					<option ng-repeat="k in kategorije" value="{{k.id}}"
						ng-selected="k.id == artikal.kategorijaId">{{k.naziv}}</option>
				</select>
			</div>
			<button class="btn btn-primary" ng-click="dodaj()">Dodaj</button>
		</form>
	</div>
</div>