<div ng-controller="izvestajCtrl">

	<p>Tip izveštaja:</p>

	<form>
		<select ng-model="vrednost">
			<option ng-repeat="t in tipIzvestaja" value="{{t}}">{{t}}</option>
		</select> <input type="date" ng-model="dan" ng-show="vrednost == 'Dnevni'" />
		<input type="week" ng-model="nedelja" ng-show="vrednost == 'Nedeljni'" />
		<input type="number" min="1" max="12" ng-model="mesec"
			ng-show="vrednost == 'Mesecni'" />

		<button class="btn btn-success" ng-click="kreirajIzvestaj()"
			ng-disabled="dan == undefined && nedelja == undefined && mesec == undefined">
			<i class="fa fa-plus" aria-hidden="true"></i> Kreiraj izveštaj
		</button>
	</form>
</div>