<div class="row">

	<div class="col-lg-3" ng-controller="kategorija">
		<h1 class="display-4">{{nazivKategorije}}</h1>
	</div>

	<div class="col-lg-9">

		<div class="col-xs-12">

			<table id="listaArtikala" class="table table-striped table-borderd">

				<thead>
					<tr>
						<th>Slika</th>
						<th>Naziv</th>
						<th>Opis</th>
						<th>Cena</th>
						<th ng-controller="homeCtrl"
							ng-hide="korisnik.uloga === 'DOSTAVLJAC'">Akcija</th>
					</tr>

				</thead>

				<tbody ng-controller="kategorija">
					<tr ng-repeat="a in artikliPoKategoriji">
						<td><img class="card-img-top" ng-src="{{a.imageUrl}}" alt=""></td>
						<th>{{a.naziv}}</th>
						<td>{{a.opis}}</td>
						<th><p ng-class="{ customCss: a.popust != null }">
								<i>{{a.cena}}€</i>
							</p>
							<p>
								<i ng-show="a.popust != null">Popust {{a.popust}}%:
									{{a.cenaSaPopustom}}€</i>
							</p></th>
						<td ng-controller="homeCtrl"
							ng-hide="korisnik.uloga === 'DOSTAVLJAC' || korisnik.uloga === 'ADMIN'"><a
							class="btn btn-success btn-lg btn-block" href=""
							ng-click="dodajUKorpu(a)"><i class="fa fa-shopping-cart"
								aria-hidden="true"></i></a> &nbsp; <a
							class="btn btn-danger btn-lg btn-block" href=""
							ng-click="dodajUOmiljene(a)"><i class="fa fa-heart"></i></a></td>
						<td ng-controller="homeCtrl" ng-show="korisnik.uloga === 'ADMIN'"><a
							class="btn btn-warning btn-lg btn-block" href="" ng-click="goToEdit(a.id)"><i
								class="fa fa-pencil" aria-hidden="true"></i></a><a
							class="btn btn-danger btn-lg btn-block" href="" ng-click="obrisi(a.id)"><i
								class="fa fa-trash" aria-hidden="true"></i></a> <a
							class="btn btn-success btn-lg btn-block" href="" ng-click="goToDodaj()"><i
								class="fa fa-plus" aria-hidden="true"></i></a></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>