<div class="row" ng-controller="homeCtrl">

	<div class="col-lg-12">

		<h1 class="display-4">
			<i>{{korisnik.korisnickoIme}}</i> porudžbine
		</h1>

		<div class="col-xs-12">

			<table id="listaArtikala" class="table table-striped table-borderd">

				<thead>
					<tr>
						<th>Kupac</th>
						<th>Adresa kupca</th>
						<th>Datum kupovine</th>
						<th>Status</th>
						<th>Cena</th>
						<th>Akcija</th>
					</tr>

				</thead>

				<tbody>
					<tr ng-repeat="k in korpeDobavljac">
						<td>{{k.nazivKupca}}</td>
						<td>{{k.adresaKupca}}</td>
						<td>{{k.datumIVreme}}</td>
						<td>{{k.status}}</td>
						<td>{{k.ukupnaCena}}€</td>
						<td><a class="btn btn-success btn-lg btn-block" href=""
							ng-click="dostaviPorudzbinu(k)">Dostavi</a></td>
					</tr>
				</tbody>

			</table>

		</div>
	</div>
</div>