<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
	id="navbar">
	<div class="container">
		<a class="navbar-brand" href="#">Online shop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive"
			ng-controller="homeCtrl">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item" ng-class="{ active: isActive('/')}"><a
					class="nav-link" href="#">Home <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"
					ng-class="{ active: isActive('/listProducts') }"><a
					class="nav-link" href="/#!/listProducts">Lista Proizvoda</a></li>
				<li class="nav-item"
					ng-class="{ active: isActive('/listaPorudzbina') }"
					ng-show="korisnik.uloga === 'DOSTAVLJAC'"><a class="nav-link"
					href="/#!/listaPorudzbina">Lista slobodnih porudžbina</a></li>
				<li class="nav-item"
					ng-class="{ active: isActive('/korisnici') }"
					ng-show="korisnik.uloga === 'ADMIN'"><a class="nav-link"
					href="/#!/korisnici">Lista korisnika</a></li>
			</ul>
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item" ng-class="{ active: isActive('/register') }"><a
					class="nav-link" href="/#!/register"><span class="fas fa-user"></span>Registracija</a></li>
				<li class="nav-item" ng-class="{ active: isActive('/login') }"
					ng-show="!ulogovan"><a class="nav-link" href="/#!/login"><span
						class="fas fa-sign-in-alt"></span> Login</a></li>

				<li class="nav-item dropdown" ng-show="ulogovan"><a
					class="nav-link dropdown-toggle" href="" id="navbardrop"
					data-toggle="dropdown"><i class="fa fa-user-circle"></i>
						{{korisnik.korisnickoIme}} </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/#!/listaPreuzetih"
							ng-show="korisnik.uloga === 'DOSTAVLJAC'">Lista preuzetih
							dostava</a> <a class="dropdown-item" href="/#!/korpa"
							ng-show="korisnik.uloga === 'KUPAC'">Artikli u korpi</a> <a
							class="dropdown-item" href="/#!/omiljeni"
							ng-show="korisnik.uloga === 'KUPAC'">Omiljeni artikli</a> <a
							class="dropdown-item" href="/#!/ranijeKupljeni"
							ng-show="korisnik.uloga === 'KUPAC'">Ranije kupljeni artikli</a>
						<a class="dropdown-item" href="/#!/pogledajProfil"
							ng-show="korisnik.uloga === 'KUPAC'">Pogledaj profil</a> <a
							class="dropdown-item" href="/logout" ng-click="ulogovan = false">
							Logout</a>
					</div></li>
			</ul>
		</div>
	</div>
</nav>