<div class="container" ng-controller="homeCtrl">
  <h2 class="my-2">{{korisnik.korisnickoIme}} profil</h2>
  &nbsp;          
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Korisničko ime:</td>
        <th>{{korisnik.korisnickoIme}}</th>
      </tr>
      <tr>
        <td>Ime:</td>
        <th>{{korisnik.ime}}</th>
      </tr>
      <tr>
        <td>Prezime:</td>
        <th>{{korisnik.prezime}}</th>
      </tr>
      <tr>
        <td>Adresa:</td>
        <th>{{korisnik.adresa}}</th>
      </tr>
      <tr>
        <td>Telefon:</td>
        <th>{{korisnik.telefon}}</th>
      </tr>
       <tr>
        <td>Email:</td>
        <th>{{korisnik.email}}</th>
      </tr>
    </tbody>
  </table>
</div>